@import 'main';
@import 'nav';

.page {
  body {
    background-color: $bg;
  }

  p,
  a {
    font-family: 'Gotham Book';
    font-size: 1rem;
    font-weight: 100;
  }

  strong {
    font-weight: 800;
  }

  h1 {
    font-family: 'Gotham Bold';
    font-weight: 1200;
  }

  h2,
  h3,
  h4 {
    font-family: 'Gotham Bold';
  }
}

.section {
  padding: 2rem;
  width: 100%;
}

.full-size {
  padding: 0;
}

.splash {
  width: 100%;
  height: 450px;
  display: flex;

  .section {
    height: 100%;

    h2 {
      color: $ac-green;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .section:last-child {
    flex-basis: 50%;
  }
}

#lower-section {
  height: 500px;
  background-image: url("../../img/slr-camera-3752509_1920.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 2rem;

  @media screen and (min-width: 650px) {
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

    div {
      border-radius: 7px;
    }

    .section {
      margin: 2%;
      width: 100%;
      flex-grow: 1;
      height: 80%;
    }

    .left {
      display: flex;
      flex-direction: column;
      flex-basis: 70%;

      .button {
        margin-top: 5%;
      }

      .section {
        width: 100%;
      }
    }
  }
}

.button {
  opacity: 1;
  padding: 1%;
  margin: 2%;
  width: 100%;

  h5 {
    text-align: center;
  }
}

.white {
  background-color: white;
  color: $charcoal;
  opacity: 1;

  h3,
  h4,
  h5 {
    color: $ac-green;
    text-transform: uppercase;
  }
}

.green {
  background-color: $ac-green;
  color: white;

  h3 {
    color: white;
  }
}