@import 'normalize';
@import 'base';
@import '../../fonts/fonts.css';

/* Global Sass Color variables */

$ac-green: hsl(159, 100%, 19%);
$ac-light: hsl(160, 24%, 52%);
$ac-dark: hsl(167, 100%, 10%);
$new-green:hsl(109, 61%, 43%);
$charcoal: hsl(120, 8%, 14%);
$gray: hsl(120, 1%, 57%);
$dark-gray: hsl(120, 6%, 21%);
$body: hsl(0, 0%, 91%);
$bg: hsl(120, 8%, 97%);
//  hsl(0, 0%, 93%)

body {
  background-color: $bg;
}

p,
a {
  font-family: 'Gotham Book';
}

strong {
  font-weight: 800;
}

h1 {
  font-family: 'Gotham Bold';
}

h2,
h3,
h4 {
  font-family: 'Gotham Medium';
}

.section {
  padding: 2rem;
}

.full-size {
  padding: 0;
}

.splash {
  width: 100%;
  height: 350px;
  display: flex;

  .section {
    flex-grow: 1;
    height: 100%;

    h2 {
      color: $ac-green;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .section:first-child {
    flex-grow: 2;
  }

}

#lower-section {
  height: 500px;
  background-image: url("../../img/slr-camera-3752509_1920.jpg");
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;

  .section {
    width: 20%;
    flex-grow: 1;
    height: 80%;
  }

  div {
    border-radius: 5px;
    opacity: 0.9;
  }
}

.green {
  background-color: $ac-green;
  color: white;

  h3 {
    color: white;
  }
}