@import 'main';

$navbar-dark-color: #fff;
$navbar-dark-hover-color: $gray;
$navbar-padding-y: 0;
$nav-link-padding-y: 0.7rem;
$navbar-dark-active-color: $gray;
@import '../node_modules/bootstrap/scss/bootstrap';

.banner {
  width: 100%;
 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media only screen and (min-width: 768px) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .logo {
    margin-top: 10px;
    height: 100px;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10%;

    img {
      object-fit: contain;
    }
  }

  h1 {
    font-size: 1.2rem;
    line-height: 50px;
    color: $ac-green;
    @media only screen and (min-width: 600px) {
      font-size: 1.3rem;
    }
    @media only screen and (min-width: 1000px) {
      line-height: 120px;
      flex-basis: 50%;
      font-size: 2.1rem;
      }
  }

}

nav {
  li {
    font-weight: 600;
  }

  // li:nth-child(1) {
  //     margin-left: 3rem;
  // }
  li a:hover {
    background-color: rgba($charcoal, 0.3);
  }

  .active a {
    background-color: rgba($charcoal, 0.3);
  }

  .navbar-toggler {
    margin: 0 auto;
  }
}

nav.navbar.navbar-expand-lg.navbar-dark.bg-primary {
  padding-left: 0;
  padding-right: 0;
}

li:nth-child(1) {
  margin-left: 0;
}

a {
  text-align: center;
}

// footer
footer{
  background-color: $charcoal;
  color: $bg;
  width: 100%;
  .all-info{
    border-top: 3px $ac-green solid;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    padding: 1rem;
    flex-wrap: wrap;
    @media only screen and (min-width: 1000px) {
    flex-wrap: nowrap;
    justify-content: left;
    flex-direction: row;
      }
    @media only screen and (min-width: 1000px) {
      justify-content: space-between;
   }
  }
  .info{
    width: 100%;
    margin: 0 auto;
    p{
      margin: 0;
    }
  }
  //social icons
  .social{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    padding: 1rem;
    @media only screen and (min-width: 1000px) {
    justify-content: right;
    flex-direction: row-reverse;
     }
      a{
        color: $gray;
        font-size: 3rem;
        text-decoration: none;
        transition: 0.5s;
        padding: 0.5rem;
      }
      a:hover{
        color: $ac-green;
      }
      
  }
  .copyright{
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
    background-color: $ac-green;
    padding: 0.5rem;
    width: 100%;
    p{
      margin: 0;
    }
  }
}
@media only screen and (min-width: 1000px) {
  nav {
    li:nth-child(1) {
      margin-left: 7rem;
    }
  }
  @media only screen and (min-width: 1200px) {
    nav {
      li:nth-child(1) {
        margin-left: 11rem;
      }
    }
}
}
